.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1);
    /* default for phones */
    align-items: center;
    gap: 2vh;
}

.searchInput {
    background-color: #ffffff;
    padding: 1em;
    border-radius: 2em;
    border-left: 5px solid #006233;
    color:  black;
    display: flex;
    gap: 0.5em;
    align-items: center;
    width: 100%;
    font-size: 1em;
    text-align: center;
  }

.cardHeader {
    margin-bottom: 1em;
    color: #000000;
    overflow: hidden;
    text-align: center;
}

.subtitleButton {
    width: fit-content;
    color: #ffffff;
    margin-bottom: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.cardDetails {
    margin-bottom: 1em;
}

.cardDetails p {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.donutContainer {
    height: 100%;
    flex: 1;
    min-width: 0;
}

.listContent {
    height: 100%;
    text-align: center;
}

.listContent li:not(:last-child) {
    margin-bottom: 0.5em;
}

.searchContainer {
    margin-bottom: 1em;
}

.cardContainer {
    height: fit-content !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    padding-top: 1.5vh !important;
}

.questionCardContainer {
    height: fit-content !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    padding-top: 1vh !important;
    padding-bottom: 0vh !important;
}

.filterCardSelected {
    height: fit-content !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    border: 1px solid #006233 !important;
    background-color: #006233 !important;
}

.filterCardUnselected {
    height: fit-content !important;
    padding-left: 2vw !important;
    padding-right: 2vw !important;
    border: 1px solid #006233 !important;
}

.breadCrumbsCardContainer {
    height: fit-content !important;
    border: 1px solid #006233 !important;
    padding-left: 20px; 
    padding-right: 20px; 
    margin-bottom: 20px;
    width: 100%;
}

.cardAnswerContainerInput {
    height: fit-content !important;
    margin-top: 1vh;
    border: 2px solid #006233 !important;
}

.reportContainer {
    height: fit-content !important;
    padding-top: 2vh;
    width: '100%';
    border: 1px solid #006233;
}

.cardAnswerContainer {
    height: 100% !important;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    border: none !important;
    padding: 10px;
    margin: 0 0 10px 0;
}

.cardAnswerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.questionCardContainer {
    height: 100% !important;
    min-height: 225px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    margin-top: 1em;
}


.readMoreButton {
    margin-bottom: auto;
    width: fit-content !important;
    background-color: #006233 !important;
    color: #ffffff;
}

.filterButton {
    margin-bottom: auto;
    width: fit-content !important;
    background-color: #006233 !important;
    color: #ffffff;
    padding: 6px;
}

.AnsweredToggleSelected {
    margin-bottom: auto;
    width: fit-content !important;
    background-color: #ffffff !important;
    color: #000000 !important;
    width: 40% !important;
    border-left: 5px solid #006233 !important;
    white-space: nowrap;
}

.AnsweredToggleUnselected {
    margin-bottom: auto;
    width: fit-content !important;
    background-color: #000000 !important;
    color: #ffffff;
    width: 40% !important;
    white-space: nowrap;
}


.readMoreButton:hover {
    background-color: #41414F !important;
}

.readMoreButtonContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    margin-top: auto;
}

.addQuestionButton {
    width: 100%;
    background-color: #006233 !important;
    color: #ffffff;
    margin-top: 2vh;
}

.searchQuestionsButtonError {
    width: 100% !important;
    border-radius: 1em !important;
    background-color: #c12326 !important;
    color: #ffffff !important;
    padding: 8px !important;
}
.searchQuestionButton {
    width: 100% !important;
    border-radius: 1em !important;
    background-color: #006233 !important;
    color: #ffffff !important;
    padding: 8px !important;
}

.usernameButton {
    background-color: #ffffff !important;
    color: #000000;
    border: 0px solid #006233 !important;
    border-radius: 0px;
    width: fit-content;
    padding-left: 0px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.loginToAddAnswerButton {
    margin-bottom: auto;
    width: 100%;
    background-color: #006233 !important;
    color: #ffffff;
    margin-bottom: 1em;
}

.loginToAddAnswerButton:hover {
    background-color: #709176 !important;
}

.loading {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.container {
    height: auto;
    overflow: auto;
    width: 100%;
}


.gridContainer {
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.gridContainer::-webkit-scrollbar {
    width: 0.75em;
    height: 0.75em;
    z-index: 10;
}

.gridContainer::-webkit-scrollbar-track {
    background-color: #2a2a35;
}

.gridContainer::-webkit-scrollbar-corner {
    background: #2a2a35;
}

.gridContainer::-webkit-scrollbar-thumb {
    border: 0.25em solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    background-color: #3c3c49;
}

.gridContainer::-webkit-scrollbar-thumb:hover {
    background-color: #3c3c49;
}

.expertAnsweredIndicator {
    color: #006233;
    margin-bottom: 1em;
}

.answeredButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1em;
}

.landingPageUl {
    list-style-type: square;
    font-size: clamp(0px, 4vw, 20px);
    padding-top: 2vh;
    padding-left: 2vh;
    text-align: start;
    color: #000000;
    /* color: #006233 */
}

.landingPageUl li {
    margin-bottom: 1vh;
}

.shareListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
}
